<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{ISO8601} %highlight{%-5level} [%t] [%logger{36}] %C{1.}.%L: %msg%n%throwable</Property>
		<Property name="APP_LOG_ROOT">/opt/ircs/ircs-portal-core/logs</Property>
	</Properties>

	<Appenders>

		<Console name="ApplicationLog" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console> 
    	<RollingFile name="ConsoleLog"
            fileName="${APP_LOG_ROOT}/Application.log"
            filePattern="${APP_LOG_ROOT}/Application.log-%d{yyyy-MM-dd}">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>       
		
		<RollingFile name="InvoiceSubmissionLog"
            fileName="${APP_LOG_ROOT}/InvoiceSubmissionApi.log"
            filePattern="${APP_LOG_ROOT}/InvoiceSubmissionApi.log-%d{yyyy-MM-dd}">
            <PatternLayout pattern="${LOG_PATTERN}%n" />
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
		
		<RollingFile name="InvoiceNotificationLog"
            fileName="${APP_LOG_ROOT}/InvoiceNotificationApi.log"
            filePattern="${APP_LOG_ROOT}/InvoiceNotificationApi.log-%d{yyyy-MM-dd}">
            <PatternLayout pattern="${LOG_PATTERN}%n" />
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        
        <RollingFile name="PaymentNotificationLog"
            fileName="${APP_LOG_ROOT}/PaymentNotificationApi.log"
            filePattern="${APP_LOG_ROOT}/PaymentNotificationApi.log-%d{yyyy-MM-dd}">
            <PatternLayout pattern="${LOG_PATTERN}%n" />
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="ApplicationLog" />
			<AppenderRef ref="ConsoleLog" />
		</Root>
		
		<Logger name="InvoiceSubmission" additivity="false"
			level="info">
			<Appender-ref ref="InvoiceSubmissionLog" />
		</Logger>

		<Logger name="InvoiceNotification" additivity="false"
			level="info">
			<Appender-ref ref="InvoiceNotificationLog" />
		</Logger>
		
		<Logger name="PaymentNotification" additivity="false"
			level="info">
			<Appender-ref ref="PaymentNotificationLog" />
		</Logger>
		
	</Loggers>

</Configuration>